<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="FREditor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
		</sectionGroup>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="FREditor.Test.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
   <section name="FREditor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
	</configSections>

	<connectionStrings>
		<add name="Local" connectionString="server=localhost; username=root; password=; database=farm;convert zero datetime=true;  pooling=true;Allow user variables=true;"/>
		<add name="integration" connectionString="server=testsql.analit.net; username=system; password=newpass; database=farm;convert zero datetime=true;  pooling=true;Allow user variables=true;"/>
	</connectionStrings>

	<log4net>

		<appender name="LogFile" type="log4net.Appender.RollingFileAppender, log4net">
			<file type="log4net.Util.PatternString" value="%appdomain_"/>
			<appendToFile value="true"/>
			<rollingStyle value="Date"/>
			<staticLogFileName value="false"/>
			<datePattern value="yyyy-MM-dd'.log'"/>
			<layout type="log4net.Layout.PatternLayout">
				<header value="

[Start]
"/>
				<footer value="[Stop]
"/>
				<conversionPattern value="%date{HH:mm:ss.fff} [%-5thread] %-5level %-15logger{1} [%ndc] - %message%newline"/>
			</layout>
		</appender>
		
		<root>
			<level value="DEBUG"/>
			<appender-ref ref="LogFile"/>
		</root>

	</log4net>

	<userSettings>
		<FREditor.Properties.Settings>
   <setting name="BaseCostColor" serializeAs="String">
    <value>Gainsboro</value>
   </setting>
   <setting name="NewCostColor" serializeAs="String">
    <value>LightGreen</value>
   </setting>
   <setting name="ChangedCostColor" serializeAs="String">
    <value>LightBlue</value>
   </setting>
   <setting name="DeletedCostColor" serializeAs="String">
    <value>IndianRed</value>
   </setting>
  </FREditor.Properties.Settings>
	</userSettings>
  
	<applicationSettings>
    
    <FREditor.Test.Properties.Settings>
       <setting name="tmp" serializeAs="String">
          <value>1</value>
       </setting>
       <setting name="TestDirectoryPath" serializeAs="String">
          <value>..\..\Data\</value>
       </setting>
    </FREditor.Test.Properties.Settings>
    
    <FREditor.Properties.Settings>
       <setting name="EmailService" serializeAs="String">
          <value>KvasovTest@analit.net</value>
       </setting>
       <setting name="WCFServiceUrl" serializeAs="String">
          <value>net.tcp://localhost:900/RemotePriceProcessorService</value>
       </setting>
				<setting name="WCFQueueName" serializeAs="String">
					<value>net.msmq://localhost/private/PriceProcessorWCFQueue</value>
				</setting>
    </FREditor.Properties.Settings>    
    
	</applicationSettings>
  
</configuration>
